---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import { differenceInYears } from 'date-fns'

const blog = (await getCollection("blog"))
  .filter((post: any) => !post.data.draft)
  .sort((a: any, b: any) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const birthDate = new Date("2003-08-05");
const currentAge = differenceInYears(new Date(), birthDate);

---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="font-semibold text-black dark:text-white">
        Uma pequena introdução <span class="waving-hand-animation text-xl">👋</span>
      </h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span>
              <br>
                Olá! </br> Meu nome é <strong>Luiz Fernando</strong>, tenho <strong>{currentAge} anos</strong>, e atualmente trabalho como desenvolvedor de software.
              </p>
              <p>
                Resolvi criar esse blog para compartilhar um pouco das coisas que venho aprendendo e estudando, tanto quanto também alguns outros assuntos que me interessam.
              </p>
            </span>
            <span class="animate">
              <p>
                Sinta-se livre para apontar qualquer erro ou sugerir melhorias nos posts.
              </p>
              <p>
                Blog criado utilizando <strong>Astro</strong> com o tema <Link  href="https://astro.build/themes/details/astro-micro/" external>Astro Micro</Link>.
              </p>
            </span>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            Let's Connect
          </h2>
          <article>
            <p>
              If you want to get in touch with me about something or just to say
              hi, reach out on social media or send me an email.
            </p>
          </article>
          <ul class="not-prose flex flex-wrap gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {"/"}
                </li>
              ))
            }
            <li class="line-clamp-1">
              <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`}
              >
                {SITE.EMAIL}
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
